.btn-subscribe{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px;
    cursor: pointer;
    transition: opacity 1s;
    vertical-align: top;
}
.btn-join{
    background-color: white;
    border-color: blue;
    color: blue;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px;
    font-weight:bold;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.51s;
    vertical-align: top;

}
.btn-tweet{
    background-color: rgb(48, 142, 224);
    color: white;
    font-size: large;
    font-weight: bolder;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 30px;
    margin-left: 30px;
   border-radius: 50px;
   cursor:pointer;
   vertical-align:  top;
   
}
.btn-subscribe:hover{
opacity: 0.7;
}
.btn-subscribe:active{
    opacity: 0.7;
}
.btn-tweet:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.btn-join:hover{
    background-color: blue;
    color: white;
   
}
